# dependencies
node_modules/
client/node_modules/
server/node_modules/

# production builds
dist/
build/
client/build/
server/build/

# environment files
.env
client/.env
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
